@import "tailwindcss";

* {
  font-family: "General Sans", sans-serif;
}

:root {
  --bg: theme(colors.white);
  --text: theme(colors.gray.100);
  --primary: theme(colors.amber.400);
  --secondary: theme(colors.teal.600);
}

body.theme-tealgold {
  --bg: theme(colors.white);
  --text: theme(colors.gray.100);
  --primary: theme(colors.amber.400);
  --secondary: theme(colors.teal.600);
}

body.theme-dracula {
  --bg: theme(colors.gray.900);
  --text: theme(colors.gray.100);
  --primary: theme(colors.purple.400);
  --secondary: theme(colors.gray.700);
}

body.theme-modern {
  --bg: theme(colors.blue.100);
  --text: theme(colors.gray.100);
  --primary: theme(colors.blue.600);
  --secondary: theme(colors.slate.100);
}

body.theme-dark {
  --bg: theme(colors.black);
  --text: theme(colors.gray.100);
  --primary: theme(colors.gray.100);
  --secondary: theme(colors.zinc.900);
}

:root {
  --secondary-900: #004d4d;
  --secondary-600: #008080;
}

/* Theme overrides */
body.theme-tealgold {
  --secondary-900: #004d4d;
  --secondary-600: #008080;
}

body.theme-dracula {
  --secondary-900: #2e2e3a;
  --secondary-600: #4b4b5e;
}

body.theme-modern {
  --secondary-900: #003472;
  --secondary-600: #21497d;
}

body.theme-black {
  --secondary-900: #000;
  --secondary-600: #222;
}
